@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #40322d;

  font-family: "Lato", sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
  /* width: 100%; */
}

body {
  background: #f8f6f0;
  overflow-x: hidden;
}

/*-------------------ヘッダー--------------------*/

.header_logo {
  padding: 0 0 0 35px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;

  background-color: #e2dbd3;
  padding: 17px 0 17px 0;
}

.pc_nav {
  display: flex;

  gap: 88px;
  font-weight: 600;

  padding-right: 54px;
}
.pc_nav ul {
  display: flex;
  gap: 48px;
}
.pc_nav ul li a {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

.pc_nav a {
  border-radius: 50%;
}

/*--------------ハンバーガーメニュー-------------*/
/*==================================================
　5-2-1 3本線が×に
===================================*/

@media screen and (min-width: 851px) {
  .openbtn {
    display: none;
  }
  .openbtn2 {
    display: none;
  }
  /* -----------------スマホ版をPCの時に非表示---------------------*/
  .sp_nav {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .pc_nav {
    display: none;
  }

  .header_wrap {
    padding: 4px 0 8px 0;
    align-items: center;
  }
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  /* position: relative;*/

  background: #47665e;
  border-radius: 50%;
  box-shadow: 0px 4px 0px 0px #2d453f;
  right: 24px;
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.35s; /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*-------------------ハンバーガーメニュー内--------------------*/

/*========= ナビゲーションのためのCSS ===============*/

#sp_nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #e2dbd3;
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#sp_nav.panelactive {
  top: 0;

  background-image: url(../images/hamburger.svg); /* 画像のURLを指定 */
  background-repeat: no-repeat; /* 画像の繰り返しを指定 */
  background-position: center bottom; /* 画像の横・縦の位置を指定*/
}

/*ナビゲーションの縦スクロール*/
#sp_nav.panelactive #sp_nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#sp_nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/

#sp_nav li {
  list-style: none;
  text-align: center;
}

#sp_nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}

/*-------------------ファーストビュー--------------------*/

.FV {
  padding-bottom: 200px;
  box-sizing: border-box;
}

.FV_content {
  display: flex;
  padding: 164px 0 139px;
  position: relative; /* 親要素 */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

.Star {
  position: absolute;
  top: 265px;
  left: 355px;
}

.hand {
  display: flex;
  flex-direction: column;
}

.FV_illust {
  padding: 30px 70px 0 0;
}

.catch_copy_English {
  font-size: 48px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 24px;
}
.catch_copy {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 24px;
}
.welcome {
  padding-bottom: 8px;
}
.welcome2 {
  padding-bottom: 8px;
}
.welcome3 {
  padding-bottom: 24px;
}

.syo {
  font-weight: 600;
}

.back {
  position: absolute; /* 親要素からの相対位置 */
  font-size: 200px;
  font-weight: 500;
  opacity: 5%;
  top: 140px;
  left: -40px;
}

.back2 {
  position: absolute; /* 親要素からの相対位置 */

  font-size: 200px;
  font-weight: 500;
  opacity: 5%;
  top: 495px;
  right: -3%;
}

.SNS {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 570px;
  right: 60px;
}

/*====== 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  top: 780px;
  left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #40322d;
  font-size: 20px;
  letter-spacing: 0.09em;
  line-height: 5px;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  left: 12px;

  /*線の形状*/
  width: 1px;
  background: #40322d;
  /*線の動き2秒かけて動く。永遠にループ*/
  animation: pathmove 2s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}

/*-------------------こんなお悩み--------------------*/

.onayami {
  padding: 128px 5% 0 5%;
}

.onayami_title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 58px;
}

.onayami_titles {
  text-align: center;
}

.color_other {
  color: #eb7f4c;
  position: relative;
}

span.color_other::after {
  content: "・・・";
  position: absolute;
  top: -30px;
  left: 0;
}

.text-with-dots {
  position: relative;
  padding-top: 15px;
}

.dots {
  /* transform: translateX(-50%); */
  display: flex;
  padding-left: 95px;
  /* position: relative; */
  right: 192px;
  bottom: -5px;
  color: #eb7f4c;
  font-size: 32px;
}
/* 
.worry0 {
  width: 70%;
  margin: 0 auto;
} */

.worry {
  /* width: 100%; */
  max-width: 980px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  /* gap: 7.3%; */
}

.worry_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 26%;
}

.worry_list > div {
  position: relative;
  width: 100%;
  text-align: center;
}

.afluid {
  left: 100px;
  bottom: 50px;
  background: #ded6cd;
  aspect-ratio: 1;
  /* width: 100%;
  height: 244px; */
  /* border-radius: 100px; */

  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}
.afluid2 {
  position: absolute;
  right: 40px;
  bottom: -45px;
  background: #ded6cd;
  width: 30px;
  height: 30px;
  /* border-radius: 100px; */
  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}
.afluid3 {
  position: absolute;
  right: 65px;
  bottom: -70px;
  background: #ded6cd;
  width: 15px;
  height: 15px;
  /* border-radius: 100px; */

  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}

.worry_text {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  width: 90%;

  line-height: 24px;
}

.worry_text2 {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  max-width: 180px;
  width: 90%;
  line-height: 24px;
}
.worry_text3 {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  width: 120x;
  line-height: 24px;
}

.a img {
  padding-top: 50px;
  height: 130px;
}

.b img {
  padding-top: 55px;
  height: 125px;
}
.c img {
  padding-top: 53px;
  height: 130px;
}

.fluid2 {
  position: absolute;
  left: 800px;
  background: #ded6cd;
  width: 21px;
  height: 21px;
  animation: fluid-animation 10s ease 0s infinite normal;
}

.fluid3 {
  position: absolute;
  left: 1000px;

  background: #ded6cd;
  width: 21px;
  height: 21px;
  animation: fluid-animation 10s ease 0s infinite normal;
}

@keyframes fluid-animation {
  0%,
  100% {
    border-radius: 59% 41% 21% 79% / 62% 53% 47% 38%;
  }
  50% {
    border-radius: 26% 74% 52% 48% / 52% 32% 68% 48%;
  }
}

/*-------------------Service--------------------*/

.Service {
  padding-top: 180px;
}

.Service2 {
  display: flex;
  padding-bottom: 11.4px;
}
#Brand {
  position: relative;
  display: inline-block;
  /* top: 20%; */
  bottom: 15px;
  left: 65%;
  background-color: #e2dbd3;
  font-size: 16px;
  padding: 0px 10px 0 10px;
}

.Brand_line {
  position: absolute;
  top: 22%;
  left: 10%;
  right: 10%;
  height: 1px;
  background-color: #666;
}

.Service_content {
  width: 100%;
  /* background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 24px; */
  padding-bottom: 45px;
  /* margin: 0 10%; */
  /* position: relative; */
}

.Service_slick {
  max-width: 950px;
  width: 59%;
  margin: 0 auto;
}

.Service_text {
  max-width: 588px;
  margin: 0 auto;
  padding: 40px 10% 27px 10%;
}
.Service2_text {
  max-width: 588px;
  margin: 0 auto;
  padding: 30px 10% 35px 6.7%;
  font-size: 16px;
  width: 37.5%;
  text-align: justify;
  /* text-align-last: justify; */
}

.Service_text p {
  line-height: 40px;
  display: block;
}
.Service2_text p {
  line-height: 28.8px;
  display: block;
}

span {
  display: inline-block;
}

.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-x;
  border-bottom: 2px dotted;
}

.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-y;
  border-bottom: 2px dotted;
}

#S {
  font-size: 36px;
  color: #47665e;
}

#SS {
  color: #b96842;
}

.Service_content2 {
  width: 60%;
  padding: 0 9% 0 6.3%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
}
.Service2_content2 {
  width: 37.5%;
  background-color: #f8f6f0;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.Service_illust {
  width: 88%;
  padding: 33px 0 52px 0;
  margin: 0 auto;
  text-align: center;
}

.Service_title {
  max-width: 950px;
  width: 59%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 40px 0;
  align-items: flex-end;
}

.Service_title p {
  padding-left: 32px;
  padding-bottom: 6px;
  padding-right: 8%;
}

.Service_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  padding-left: 8%;
}

/*----------------Service slickカルーセル表示-------------------*/

.Service_content picture {
  display: flex;
  justify-content: center;
}

.Slick_navigation {
  height: 40px;
  position: relative;
  width: 255px;
  margin: 0 auto;
}

.slick-dots {
  bottom: 10px;
  width: 160px;
  left: 50%;
  transform: translate(-50%);
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #40322d;
  font-size: 15px;
  /* top: 20px; */
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next {
  padding-right: 3px;
  /* top: 102%; */
  right: 0;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  padding-left: 3px;

  /* top: 102%; */
  left: 0;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px; /*ここのwidthとheightの役割は？？？？ デベロッパで確認したところ>の範囲指定のこと？*/
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(45deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-left: 2px solid #40322d;
  transform: rotate(-45deg);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #e2dbd3;
}

/*-------------------Skill--------------------*/
.test {
}

.Skill_title {
  display: flex;
  justify-content: center;
  padding: 176px 0 40px 0px;
  align-items: flex-end;
}

.Skill_title p {
  padding-left: 32px;
  padding-bottom: 6px;
}

.Skill_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
}

.Skill_items {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  width: 71%;
  justify-content: space-between;
  padding-bottom: 0px;
}

.Skill_items h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 32px 150px 16px 26px;
}
.items_list4 h3 {
  width: 112px;
  font-size: 36px;
  font-weight: 700;
  padding: 78px 4.6% 78px 14.8%;
}

.items_list1 {
  width: 30%;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list1b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 9% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_list1b img {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.items_list1 p {
  padding-top: 24px;
  padding-right: 26px;
  padding-left: 26px;
  line-height: 24px;
}

.St1 {
  padding-bottom: 67px;
}
.items_list2 p {
  padding-top: 24px;
  padding-right: 26px;
  padding-left: 26px;
  line-height: 24px;
}

.St2 {
  padding-bottom: 32%;
}
.items_list3 p {
  padding-top: 24px;
  padding-right: 26px;
  padding-left: 26px;
  line-height: 24px;
}

.St3 {
  padding-bottom: 40%;
}

.items_list2 {
  width: 30%;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list2b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 6.5% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items_list2bb {
  padding: 12px 6.5% 0 9%;
}

.items_list3 {
  width: 30%;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list3b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 9% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_list4 {
  max-width: 1000px;
  width: 71%;
  height: 200px;
  margin: 0 auto;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  /* padding-bottom: 45px; */
  display: flex;
}

.items_list4b {
  width: 100%;
  height: 154px;
  margin: 24px 9% 24px 0;
  background-color: #f8f6f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3% 0 3%;
}

.items_list4 p {
  padding-top: 10px;
  line-height: 24px;
}

#Wacom {
  padding-top: 16px;
  width: 312px;
  margin: 0 auto;
}

/*-------------------Works--------------------*/

.Works_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
  justify-content: center;
  padding-top: 184px;
  padding-bottom: 8px;
}

.Works_title1 p {
  text-align: center;
}

.Works_items {
  max-width: 1056px;
  /* width: 77%; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 48px 4.7% 0 4.7%;
  /* gap: 48px; */
}

.a_W_items_list1 {
  width: 28.41%;
}
.a_W_items_list2 {
  padding-top: 155px;
  width: 28.41%;
}
.a_W_items_list3 {
  width: 28.41%;
}

.W {
  width: 102px;
  margin: 0 auto;
}

.W2 {
  width: 102px;
  margin: 0 auto;
}

.W3 {
  width: 102px;
  margin: 0 auto;
}
/* 
.W_items_list1:hover ~ .hover-img {
  background-image: url("/images/Works_coding.jpg");
  } */

.W_btn {
  position: relative;
  /* width: 300px;
  height: 300px; */
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  /* cursor: alias; */
}
/* .W_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    }
    .W_btn:hover img:nth-of-type(2) {
      -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
      transform: translate(-50%, -50%) scale(1.15) !important;
      opacity: 0;
      }
      */
.W_btn img {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.3s ease-in-out;
}
.W_btn > img {
  /* top: -100%; */
  opacity: 0;
}
/*　>を使うことで、W btnの中の直下のimgのみに適用できる*/

.W_btn .W_items_list img {
  /* width: 52%; */
  /* top: 0; */
  opacity: 1;
}

.W_btn:hover > img {
  /* top: 0; */
  opacity: 1;
}
.W_btn:hover .W_items_list img {
  /* top: 100%; */
  opacity: 0;
}
.W_items_list {
  /* 通常の設定 */
  transition: background-image 0.3s ease;
}
/* ----------------------------------------------- */
.W_btn2 {
  position: relative;
}

.W_btn2 img {
  width: 100%;
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.3s ease-in-out;
}
.W_btn2 > img {
  /* top: -100%; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 50%; /*imgのはみ出てる4つ角の白を消す*/
}
/*　>を使うことで、W btnの中の直下のimgのみに適用できる*/

.W_btn2 .W_items_list2-2 img {
  /* width: 52%; */
  /* top: 0; */
  width: 100%;
  opacity: 1;
}

.W_btn2:hover > img {
  /* top: 0; */
  opacity: 1;
}
.W_btn2:hover .W_items_list2-2 img {
  /* top: 100%; */
  opacity: 0;
}

.W_items_list2 {
  /* 通常の設定 */
  transition: background-image 0.3s ease;
} /* ----------------------------------------------- */

.W_btn3 {
  position: relative;
}

.W_btn3 img {
  width: 100%;
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.3s ease-in-out;
}
.W_btn3 > img {
  /* top: -100%; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 50%; /*imgのはみ出てる4つ角の白を消す*/
}
/*　>を使うことで、W btnの中の直下のimgのみに適用できる*/

.W_btn3 .W_items_list img {
  /* width: 52%; */
  /* top: 0; */
  /* width: 100%; */
  opacity: 1;
}

.W_btn3:hover > img {
  /* top: 0; */
  opacity: 1;
}
.W_btn3:hover .W_items_list img {
  /* top: 100%; */
  opacity: 0;
}

.W_items_list3 {
  /* 通常の設定 */
  transition: background-image 0.3s ease;
} /* ----------------------------------------------- */

.W_items_list {
  width: 100%;
  /* height: 300px; */
  aspect-ratio: 1;
  background-color: #e2dbd3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.W_items_list2-2 {
  padding: 5% 0 0 5%;
  width: 55%;
}

.W_items_list img {
  width: 56%;
}

.W_dots {
  width: 20px;
  margin: 0 auto;
}

.W_botan {
  display: flex;
  /* padding: 0 19% 0 33%; */
}
.W_botan a {
  border-radius: 50%;
}

.W_botan p {
  color: #ffffff;
}

.W_Coding {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.W_Design {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.W_Illustration {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

/*-------------------About me--------------------*/

.Aboutme {
  display: flex;
  justify-content: center;
  gap: 7%;
  padding: 0 12.5% 0 12.5%;
  /* max-width: 1000px; */
}

.Aboutme_text {
  max-width: 400px;
}

.Aboutme_title {
  padding-top: 200px;
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
}

.me_illust {
  padding-top: 300px;
  width: 250px;
  height: 250px;
}
/* .me_illust img {
  width: 100%;
} */

.A {
  display: flex;
  flex-direction: column;
  padding-inline-start: 52px;
}

.A2 {
  padding-inline-start: 15px;
  width: 90px;
  height: 90px;
}

.A_dots {
  padding: 10px 0 10px 0;
}

.A_More {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.A_More p {
  color: #ffffff;
}

/*-------------------Contact--------------------*/

.Contact_content {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.Contact_sheet {
  padding-top: 280px;
}

.Contact_title {
  padding-top: 186px;
  padding-bottom: 32px;
  /* padding-left: 15.5%; */
  font-weight: 700;
  font-size: 64px;
  color: #47665e;
  /* display: flex;
  justify-content: flex-start; */
}

.Contact_text {
  padding-left: 5%;
  width: 32%;
}

.Contact_text p {
  line-height: 1.7;
}

#Contact_text1 {
  font-weight: 700;
  padding-bottom: 8px;
}
#Contact_text2 {
  font-size: 12px;
}
#Contact_text3 {
  padding-top: 16px;
}
#Contact_text4 {
  text-decoration-line: underline;
  text-decoration-color: #40322d; /* 下線の色 */
  text-decoration-style: solid; /* 下線のスタイル */
  text-decoration-thickness: 1px; /* 下線の太さ */
}

.Contact_sheet {
}

.check {
  padding: 32px 40% 200px 35%;
  /* width: 90px;
  margin: 0 auto; */
}

.c-form__submit {
}

button[type="submit"] {
  color: white; /* テキストの色 */
  border: none; /* ボーダーを削除 */
  cursor: pointer; /* マウスオーバー時のカーソル */
  transition: background-color 0.3s; /* 色変更の滑らかさ */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

button[type="submit"]:hover {
  background-color: #eb7f4c; /* ホバー時の色 */
}

.submit {
  color: #ffffff;
}

.c-form {
  max-width: 470px;
  margin: 0 auto;
}
.c-form__item {
  /* justify-content: space-evenly; */
  /* margin-bottom: 20px; */
}
.c-form__label,
.c-form__input {
  padding-left: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 8px;
}
.c-form__label {
  line-height: 2;
}
.c-form__input {
  width: 90%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-size: 14px;
}

#field-message {
}

.c-form__input:focus-visible {
  outline: #afafaf auto 1px;
}
.c-form__required {
  font-size: 14px;
  color: #fff;
  background-color: #eb7f4c;
  border-radius: 5px;
  padding: 5px 5px;
  line-height: 10px;
  /* margin: 10px; */
}

textarea.c-form__input {
  height: 250px;
  background-color: #dcdcdc;
  font-size: 14px;
  margin-right: 150px;
  line-height: 1.5;
}

::placeholder {
  color: #afafaf;
}

/* 
@media (min-width: 640px) {
  .c-form__item {
    flex-wrap: nowrap;
  }
  .c-form__label {
    width: 40%;
  }
  .c-form__input {
    width: 55%;
  }
} */

/*-------------------Footer--------------------*/
.footer_content {
  background-color: #e2dbd3;
}

.footer_wrap {
  /* padding: 17px 0 17px 0; */
}

.pc_nav2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 100px 0 0 0;
}

.pc_nav2 ul {
  display: flex;
  gap: 48px;
}
.pc_nav2 ul a {
  border-radius: 50%;
}

#pc_nav2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

/* .Contact2 a {
  border: none;
}
 */
.footer_logo {
  width: 109px;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 88px;
}

.SNS2 {
  text-align: center;
  display: flex;
  gap: 16px;
  width: 116px;
  margin: 0 auto;
}

.Copyright {
  text-align: center;
  padding-bottom: 64px;
  padding-top: 34px;
}
