@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #40322d;

  font-family: "Lato", sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
  /* width: 100%; */
}

body {
  background: #f8f6f0;
  overflow-x: hidden;
}

/*-------------------ヘッダー--------------------*/

.header_logo {
  padding: 0 0 0 35px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;

  background-color: #e2dbd3;
  padding: 17px 0 17px 0;
}

.pc_nav {
  display: flex;

  gap: 88px;
  font-weight: 600;

  padding-right: 54px;
}
.pc_nav ul {
  display: flex;
  gap: 48px;
}
.pc_nav ul li a {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

/*-------------------ファーストビュー--------------------*/

.FV {
  padding-bottom: 200px;
  box-sizing: border-box;
}

.FV_content {
  display: flex;
  padding: 164px 0 139px;
  position: relative; /* 親要素 */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

.Star {
  position: absolute;
  top: 265px;
  left: 355px;
}

.hand {
  display: flex;
  flex-direction: column;
}

.FV_illust {
  padding: 30px 70px 0 0;
}

.catch_copy_English {
  font-size: 48px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 24px;
}
.catch_copy {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 24px;
}
.welcome {
  padding-bottom: 8px;
}
.welcome2 {
  padding-bottom: 8px;
}
.welcome3 {
  padding-bottom: 24px;
}

.syo {
  font-weight: 600;
}

.back {
  position: absolute; /* 親要素からの相対位置 */
  font-size: 200px;
  font-weight: 500;
  opacity: 5%;
  top: 140px;
  left: -40px;
}

.back2 {
  position: absolute; /* 親要素からの相対位置 */

  font-size: 200px;
  font-weight: 500;
  opacity: 5%;
  top: 495px;
  right: -3%;
}

.SNS {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 570px;
  right: 60px;
}

/*====== 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  top: 780px;
  left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #40322d;
  font-size: 20px;
  letter-spacing: 0.09em;
  line-height: 5px;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  left: 12px;

  /*線の形状*/
  width: 1px;
  background: #40322d;
  /*線の動き2秒かけて動く。永遠にループ*/
  animation: pathmove 2s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 50px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 70px;
    opacity: 0;
  }
}

/*-------------------こんなお悩み--------------------*/

.onayami {
  padding-top: 128px;
}

.onayami_title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 58px;
}

.onayami_titles {
  text-align: center;
}

.color_other {
  color: #eb7f4c;
}

.text-with-dots {
  position: relative;
  padding-top: 15px;
}

.dots {
  /* transform: translateX(-50%); */
  position: relative;
  right: 192px;
  bottom: -5px;
  color: #eb7f4c;
  font-size: 32px;
}

.worry {
  /* width: 95%; */
  display: flex;
  position: relative;
  justify-content: center;
  gap: 100px;
}

.worry0 {
  width: 72%;

  margin: 0 auto;
}

.worry_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.worry_list > div {
  position: relative;
}

.afluid {
  left: 100px;
  bottom: 50px;
  background: #ded6cd;
  width: 30.5vh;
  height: 30.5vh;
  /* border-radius: 100px; */

  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}
.afluid2 {
  position: absolute;
  right: 40px;
  bottom: -45px;
  background: #ded6cd;
  width: 30px;
  height: 30px;
  /* border-radius: 100px; */
  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}
.afluid3 {
  position: absolute;
  right: 65px;
  bottom: -70px;
  background: #ded6cd;
  width: 15px;
  height: 15px;
  /* border-radius: 100px; */

  animation: fluid-animation 100s ease 0s infinite normal;
  z-index: 1;
}

.worry_text {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  line-height: 24px;
}

.worry_text2 {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  width: 180px;
  line-height: 24px;
}
.worry_text3 {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  width: 144px;
  line-height: 24px;
}

/* .worry_list img {
  width: 200px;
} */
.a img {
  padding-top: 45px;
  height: 257%;
}
.b img {
  padding-top: 45px;
  height: 78%;
}
.c img {
  padding-top: 45px;
  height: 80%;
}

.fluid2 {
  position: absolute;
  left: 800px;
  background: #ded6cd;
  width: 21px;
  height: 21px;
  animation: fluid-animation 10s ease 0s infinite normal;
}

.fluid3 {
  position: absolute;
  left: 1000px;

  background: #ded6cd;
  width: 21px;
  height: 21px;
  animation: fluid-animation 10s ease 0s infinite normal;
}

@keyframes fluid-animation {
  0%,
  100% {
    border-radius: 59% 41% 21% 79% / 62% 53% 47% 38%;
  }
  50% {
    border-radius: 26% 74% 52% 48% / 52% 32% 68% 48%;
  }
}

/*-------------------Service--------------------*/

.Service {
  padding-top: 180px;
}

.Service2 {
  display: flex;
  padding-bottom: 11.4px;
}
#Brand {
  position: relative;
  display: inline-block;
  top: 20%;
  left: 65%;
  background-color: #e2dbd3;
  font-size: 16px;
  padding: 79px 10px 0 10px;
}

.Brand_line {
  position: absolute;
  top: 22%;
  left: 10%;
  right: 10%;
  height: 1px;
  background-color: #666;
}

.Service_content {
  max-width: 950px;
  width: 59%;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 24px;
  padding-bottom: 45px;
  margin: 0 10%;

  position: relative;
}

.Service_text {
  max-width: 588px;
  margin: 0 auto;
  padding: 40px 10% 27px 10%;
}
.Service2_text {
  max-width: 588px;
  margin: 0 auto;
  padding: 30px 10% 35px 6.7%;
  font-size: 16px;
  width: 37.5%;
  text-align: justify;
  /* text-align-last: justify; */
}

.Service_text p {
  line-height: 40px;
  display: block;
}
.Service2_text p {
  line-height: 28.8px;
  display: block;
}

span {
  display: inline-block;
}

.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-x;
  border-bottom: 2px dotted;
}

.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-y;
  border-bottom: 2px dotted;
}

#S {
  font-size: 36px;
  color: #47665e;
}

#SS {
  color: #b96842;
}

.Service_content2 {
  width: 60%;
  padding: 0 9% 0 6.3%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
}
.Service2_content2 {
  width: 37.5%;
  background-color: #f8f6f0;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.Service_illust {
  width: 88%;
  padding: 33px 0 52px 0;
  margin: 0 auto;
  text-align: center;
}

.Service_title {
  max-width: 950px;
  width: 59%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 40px 0;
  align-items: flex-end;
}

.Service_title p {
  padding-left: 32px;
  padding-bottom: 6px;
}

.Service_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
}

/*----------------Service slickカルーセル表示-------------------*/

.slick-dots {
  bottom: 10px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #40322d;
  font-size: 8px;
  top: 60px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-next {
  top: 110%;
  right: 45%;
}

.slick-prev {
  top: 110%;

  left: 45%;
  z-index: 99;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px; /*ここのwidthとheightの役割は？？？？ デベロッパで確認したところ>の範囲指定のこと？*/
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(45deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-left: 2px solid #40322d;
  transform: rotate(-45deg);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

/*-------------------Skill--------------------*/

.Skill_title {
  display: flex;
  justify-content: center;
  padding: 176px 0 40px 0px;
  align-items: flex-end;
}

.Skill_title p {
  padding-left: 32px;
  padding-bottom: 6px;
}

.Skill_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
}

.Skill_items {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  gap: 40px;
  padding-bottom: 0px;
}

.Skill_items h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 32px 150px 16px 26px;
}
.items_list4 h3 {
  width: 112px;
  font-size: 36px;
  font-weight: 700;
  padding: 78px 46px 78px 148px;
}

.items_list1 {
  width: 30%;
  height: 570px;
  margin: 0 auto;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list1b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 9% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_list1b img {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.items_list1 p {
  padding: 24px 26px 0 26px;
  line-height: 24px;
}

.items_list2 p {
  padding: 24px 26px 0 26px;
  line-height: 24px;
}
.items_list3 p {
  padding: 24px 26px 0 26px;
  line-height: 24px;
}

.items_list2 {
  width: 30%;
  height: 570px;
  margin: 0 auto;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list2b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 6.5% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items_list2bb {
  padding: 12px 6.5% 0 9%;
}

.items_list3 {
  width: 30%;
  height: 570px;
  margin: 0 auto;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
}

.items_list3b {
  height: 154px;
  width: 42%;
  margin: 0 auto;
  background-color: #f8f6f0;
  border-radius: 10px;
  padding: 0 9% 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_list4 {
  max-width: 1000px;
  width: 71%;
  height: 200px;
  margin: 0 auto;
  background-color: #e2dbd3;
  border-radius: 10px;
  font-size: 16px;
  /* padding-bottom: 45px; */
  display: flex;
}

.items_list4b {
  width: 26%;
  height: 154px;
  margin: 24px 9% 24px 0;
  background-color: #f8f6f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3% 0 3%;
}

.items_list4 p {
  padding-top: 10px;
  line-height: 24px;
}

#Wacom {
  padding-top: 16px;
  width: 312px;
  margin: 0 auto;
}

/*-------------------Works--------------------*/

.Works_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
  justify-content: center;
  padding-top: 184px;
  padding-bottom: 8px;
}

.Works_title1 p {
  text-align: center;
}

.Works_items {
  /* max-width: 1056px;
  width: 77%; */
  display: flex;
  justify-content: center;
  padding: 48px 4.7% 0 4.7%;
  gap: 48px;
}

.a_W_items_list1 {
}
.a_W_items_list2 {
  padding-top: 155px;
}
.a_W_items_list3 {
}

.W_items_list1 {
  width: 300px;
  height: 300px;
  background-color: #e2dbd3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.W_items_list1 img {
  width: 56%;
}

.W_items_list2 {
  width: 300px;
  height: 300px;
  background-color: #e2dbd3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.W_items_list22 {
  padding: 30px 0 0 20px;
}

/* .W_items_list2 img {
  width: 56%;
} */

.W_items_list3 {
  width: 300px;
  height: 300px;
  background-color: #e2dbd3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.W_items_list3 img {
  width: 56%;
}

.W_dotts {
  display: flex;
  padding: 0 23.5% 0 23.5%;
}

.W_botan {
  display: flex;
  padding: 0 19% 0 19%;
}

.W_botan p {
  color: #ffffff;
}

.W_Coding {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.W_Design {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.W_Illustration {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

/*-------------------About me--------------------*/

.Aboutme {
  display: flex;
  justify-content: center;
  gap: 7%;
  padding: 0 23% 0 23%;
}

.Aboutme_title {
  padding-top: 200px;
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
}

.me_illust {
  padding-top: 300px;
  width: 250px;
  height: 250px;
}

.A {
  display: flex;
  flex-direction: column;
  padding-inline-start: 52px;
}

.A2 {
  padding-inline-start: 15px;
}

.A_dots {
  padding: 10px 0 10px 0;
}

.A_More {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.A_More p {
  color: #ffffff;
}

/*-------------------Contact--------------------*/

.Contact_content {
  display: flex;
  gap: 8.8%;
}

.Contact_title {
  padding-top: 186px;
  padding-bottom: 32px;
  padding-left: 13.5%;
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
}

.Contact_text {
  padding-left: 13.5%;
  width: 32%;
}

.Contact_sheet {
}

.check {
  padding-top: 32px;
  padding-bottom: 200px;
}

.check_botan {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #47665e;
  box-shadow: 0px 4px 0px 0px #2d453f;
}

.check p {
  color: #ffffff;
}

.c-form {
  max-width: 470px;
  margin: 0 auto;
}
.c-form__item {
  /* justify-content: space-evenly; */
  margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
  padding: 10px;
}
.c-form__label {
  line-height: 2;
}
.c-form__input {
  width: 90%;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #dcdcdc;
}

#field-message {
}

.c-form__input:focus-visible {
  outline: #eb7f4c auto 1px;
}
.c-form__required {
  font-size: 12px;
  color: #fff;
  background-color: #eb7f4c;
  border-radius: 5px;
  padding: 5px 5px;
  line-height: 10px;
  margin: 10px;
}

textarea.c-form__input {
  height: 250px;
  background-color: #dcdcdc;
}

/* 
@media (min-width: 640px) {
  .c-form__item {
    flex-wrap: nowrap;
  }
  .c-form__label {
    width: 40%;
  }
  .c-form__input {
    width: 55%;
  }
} */

/*-------------------Footer--------------------*/
.footer_content {
  background-color: #e2dbd3;
}

.footer_wrap {
  /* padding: 17px 0 17px 0; */
}

.pc_nav2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 100px 0 0 0;
}

.pc_nav2 ul {
  display: flex;
  gap: 48px;
}

#pc_nav2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

/* .Contact2 a {
  border: none;
}
 */
.footer_logo {
  width: 109px;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 88px;
}

.SNS2 {
  text-align: center;
  display: flex;
  gap: 16px;
  width: 116px;
  margin: 0 auto;
}

.Copyright {
  text-align: center;
  padding-bottom: 64px;
  padding-top: 34px;
}
