@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #40322d;

  font-family: "Lato", sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
  /* width: 100%; */
}

body {
  background: #f8f6f0;
  overflow-x: hidden;
}

/*-------------------ヘッダー--------------------*/

.header_logo {
  padding: 0 0 0 35px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;

  background-color: #e2dbd3;
  padding: 17px 0 17px 0;
}

.pc_nav {
  display: flex;

  gap: 88px;
  font-weight: 600;

  padding-right: 54px;
}
.pc_nav ul {
  display: flex;
  gap: 48px;
}
.pc_nav ul li a {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-radius: 50%;

  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}
.pc_nav a {
  border-radius: 50%;
}

/*-------------------Works--------------------*/

.WorksSummary {
  padding-left: 5%;

  padding-right: 5%;
}

#Design_title {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.Works_title1 {
  display: flex;
  padding: 104px 0 64px 0;
  align-items: flex-end;
}

.Works_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
  justify-content: center;
}

.Works_title1 p {
  font-size: 20px;
  padding-left: 32px;
  padding-bottom: 6px;
}

.Works_slick0 {
  margin: 0 16.8% 0 16.8%;
}
.Works_slick {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  /* margin: 0 16.8% 0 16.8%; */
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  justify-content: space-between;
  aspect-ratio: 1;
  height: 280px;
  align-items: center;
}

#Works_Summary {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  padding-bottom: 8px;
  display: flex;
  margin-bottom: 32px;
}

#Works_Summary img {
  padding-top: 3%;
}

#Works_Summary2 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  padding-bottom: 8px;
  display: flex;
  margin-bottom: 32px;
}
#Works_Summary h2 {
  margin-top: 6.5%;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
}
#Works_Summary2 h2 {
  margin-top: 6%;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
}

#Works_Summary span {
  margin-top: 6.3%;
}
#Works_Summary2 span {
  margin-left: 2%;
  margin-top: 41px;
}

#Works_Summary img {
  padding-left: 3%;
}
#Works_Summary2 img {
  padding-left: 3%;
}

.design_text {
  margin-left: 16px;
}
#Works_Summary2 p {
  padding-left: 4%;
}

.design_text2 {
  border-bottom: 1px solid #40322d;
}

.Works_design {
  text-align: center;
}

.Works_design img {
  height: 90%;
  width: 90%;
  display: block;
  margin: 0 auto;
}

#Coding_Summary {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  display: flex;
  margin-bottom: 32px;
}
#Coding_Summary h2 {
  margin-top: 28px;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 11px;
}

#Coding_Summary span {
  margin-top: 41px;
}

#Coding_Summary img {
  padding-left: 3%;
}

#confidential0 {
  padding-left: 5%;
  padding-right: 5%;
}

#confidential {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 13%;
  padding-left: 4.5%;
  padding-bottom: 160px;
  padding-top: 16px;
}
.confidential1 {
  padding-bottom: 32px;
}
.confidential2 {
  padding-bottom: 32px;
}

.confidential_title {
  /* padding-bottom: 8px; */
  white-space: nowrap;
}

.confidential_subtitle {
  margin-bottom: 8px;
}
.confidential_subtitle2 {
  margin-bottom: 8px;
}
.confidential_text2 {
  line-height: 1.5;
  display: block;
}
.Service2_text p {
  line-height: 28.8px;
  display: block;
}

#text2 {
  padding-bottom: 24px;
}

.confidential_file {
  padding-top: 32px;
  padding-right: 12%;
}

span {
  display: inline-block;
}

.line1 {
  font-weight: 700;
  background-image: url("confidential projects_line.svg");
  background-repeat: repeat-x;
  border-bottom: 1px dotted;
}

.line1 span {
  padding-bottom: 2px;
}

#subtitle2 {
  font-weight: initial;
  padding-left: 16px;
}

/* 
.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-y;
  border-bottom: 2px dotted;
} */

#Summary_contact {
  font-weight: 700;
}

/*----------------slick画像のカルーセル表示-------------------*/
.Slick_navigation {
  bottom: 160px;
  height: 40px;
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.slick-next {
  padding-right: 3px;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  padding-left: 3px;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(45deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(225deg);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

/*-------------------Footer--------------------*/
.footer_content {
  background-color: #e2dbd3;
}

.footer_wrap {
  /* padding: 17px 0 17px 0; */
}

.pc_nav2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 100px 0 0 0;
}

.pc_nav2 ul {
  display: flex;
  gap: 48px;
}
.pc_nav2 ul a {
  border-radius: 50%;
}

#pc_nav2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

.footer_logo {
  width: 109px;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 88px;
}

.SNS2 {
  text-align: center;
  display: flex;
  gap: 16px;
  width: 116px;
  margin: 0 auto;
}

.Copyright {
  text-align: center;
  padding-bottom: 64px;
  padding-top: 34px;
}

/*----------------★SP版 scroll px以下表示★-------------------*/

/* @media (max-width: 367px) {
  #Works_Summary h2 {
    margin-top: 17%;
  }
} */

@media (max-width: 480px) {
  #Works_Summary h2 {
    margin-left: 10px;
  }
}
@media (max-width: 490px) {
  #Works_Summary {
    width: 90%;
  }
  #Coding_Summary {
    width: 90%;
  }

  #Works_Summary img {
    padding-left: 3%;
    width: 20%;
  }

  #Works_Summary h2 {
    margin-top: 10%;
  }

  .Slick_navigation {
    width: 80%;
  }

  .Works_title1 {
    flex-direction: column;
    width: 120px;
    margin: 0 auto;
    align-items: normal;
  }

  .Works_title2 {
    font-size: 40px;
  }
  .Works_title1 p {
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
    padding-left: initial;
    padding-bottom: initial;
  }
}

@media (max-width: 950px) {
  .Slick_navigation {
    width: 80%;
  }
}

@media (min-width: 1430px) {
  .Works_slick0 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .Slick_navigation {
    bottom: 185px;
  }
}
@media (min-width: 1700px) {
  .Works_slick0 {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .Slick_navigation {
    bottom: 215px;
  }
}

@media (min-width: 2000px) {
  .Slick_navigation {
    width: 65%;
  }
  .Works_slick0 {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media (min-width: 2200px) {
  .Slick_navigation {
    width: 60%;
  }
}

/* 小さい画面用のスタイル */
@media (max-width: 650px) {
  .Works_slick .slick-slide {
    width: 80%;
  }
}
