@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #40322d;

  font-family: "Lato", sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.25s;
}

a:hover {
  /*ホバー時の文字アクション設定*/
  opacity: 0.75;
  /*color: #ff8800; */
}

ul {
  /*左の「・」を消す*/
  list-style: none;
  width: fit-content;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
  /* width: 100%; */
}

body {
  background: #f8f6f0;
  overflow-x: hidden;
}

/*-------------------ヘッダー--------------------*/

.header_logo {
  padding: 0 0 0 35px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;

  background-color: #e2dbd3;
  padding: 17px 0 17px 0;
}

.pc_nav {
  display: flex;

  gap: 88px;
  font-weight: 600;

  padding-right: 54px;
}
.pc_nav ul {
  display: flex;
  gap: 48px;
}
.pc_nav ul li {
  border-radius: 50%;
}
.pc_nav ul li a {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border-radius: 50%;

  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}
.pc_nav a {
  border-radius: 50%;
}

/*-------------------Works--------------------*/

.WorksSummary {
  padding-left: 5%;

  padding-right: 5%;
}

#Design_title {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.Works_title1 {
  display: flex;
  padding: 104px 0 64px 0;
  align-items: flex-end;
}

.Works_title2 {
  font-weight: bold;
  font-size: 64px;
  color: #47665e;
  display: flex;
  justify-content: center;
}

.Works_title1 p {
  font-size: 20px;
  padding-left: 32px;
  padding-bottom: 6px;
}

.Works_slick0 {
  margin: 0 16.8% 0 16.8%;
}
.Works_slick {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  /* margin: 0 16.8% 0 16.8%; */
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  justify-content: space-between;
  aspect-ratio: 1;
  height: 280px;
  align-items: center;
}

.slick-list {
  width: 100%;
}

#Works_Summary {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  padding-bottom: 8px;
  display: flex;
  margin-bottom: 32px;
}

#Works_Summary img {
  padding-top: 3%;
}

#Works_Summary2 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  padding-bottom: 8px;
  display: flex;
  margin-bottom: 32px;
}
#Works_Summary h2 {
  margin-top: 6.5%;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
}
#Works_Summary2 h2 {
  margin-top: 6%;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
}

#Works_Summary span {
  margin-top: 6.3%;
}
#Works_Summary2 span {
  margin-left: 2%;
  margin-top: 41px;
}

#Works_Summary img {
  padding-left: 3%;
}
#Works_Summary2 img {
  padding-left: 3%;
}

.design_text {
  margin-left: 16px;
}
#Works_Summary2 p {
  padding-left: 4%;
}

.design_text2 {
  border-bottom: 1px solid #40322d;
}

.Works_design {
  text-align: center;
}

.Works_design img {
  height: 90%;
  width: 90%;
  display: block;
  margin: 0 auto;
}

#Coding_Summary {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #40322d;
  display: flex;
  margin-bottom: 32px;
}
#Coding_Summary h2 {
  margin-top: 28px;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 11px;
}

#Coding_Summary span {
  margin-top: 41px;
}

#Coding_Summary img {
  padding-left: 3%;
}

#confidential0 {
  padding-left: 5%;
  padding-right: 5%;
}

#confidential {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 13%;
  padding-left: 4.5%;
  padding-bottom: 160px;
  padding-top: 16px;
}
.confidential1 {
  padding-bottom: 32px;
}
.confidential2 {
  padding-bottom: 32px;
}

.confidential_title {
  /* padding-bottom: 8px; */
  white-space: nowrap;
}

.confidential_subtitle {
  margin-bottom: 8px;
}
.confidential_subtitle2 {
  margin-bottom: 8px;
}
.confidential_text2 {
  line-height: 1.5;
  display: block;
}
.Service2_text p {
  line-height: 28.8px;
  display: block;
}

#text2 {
  padding-bottom: 24px;
}

.confidential_file {
  padding-top: 32px;
  padding-right: 12%;
}

span {
  display: inline-block;
}

.line1 {
  font-weight: 700;
  background-image: url("confidential projects_line.svg");
  background-repeat: repeat-x;
  border-bottom: 1px dotted;
}

.line1 span {
  padding-bottom: 2px;
}

#subtitle2 {
  font-weight: initial;
  padding-left: 16px;
}

/* 
.line1 {
  font-weight: 700;

  background-image: url("sample.svg");
  background-repeat: repeat-y;
  border-bottom: 2px dotted;
} */

#Summary_contact {
  font-weight: 700;
}

/*----------------slick画像のカルーセル表示-------------------*/
.Slick_navigation {
  bottom: 160px;
  height: 40px;
  position: relative;
  width: 75%;
  margin: 0 auto;
  z-index: 1;
}

.slick-next {
  padding-right: 3px;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  padding-left: 3px;
  background-color: #e2dbd3;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(45deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #40322d;
  border-right: 2px solid #40322d;
  transform: rotate(225deg);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-dots {
  bottom: 10px;
  width: 160px;
  left: 50%;
  transform: translate(-50%);
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #40322d;
  font-size: 15px;
  /* top: 20px; */
}

/* button[type="button"] {
  background-color: #e2dbd3; 
} */
button[type="button"]:hover {
  background-color: #e2dbd3; /* ホバー時の色 */
}

.slick-list {
  z-index: 100; /*Slick_navigationの両端矢印の範囲下に作品があり重なった部分のみリンクが外れてクリックできない状態だったため、Slickより上に表示させた*/
}

/*-------------------Footer--------------------*/
.footer_content {
  background-color: #e2dbd3;
}

.footer_wrap {
  /* padding: 17px 0 17px 0; */
}

.pc_nav2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 100px 0 0 0;
}

.pc_nav2 ul {
  display: flex;
  gap: 48px;
}
.pc_nav2 ul a {
  border-radius: 50%;
}

#pc_nav2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
}
.Contact2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-weight: 700;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

.footer_logo {
  width: 109px;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 88px;
}

.SNS2 {
  text-align: center;
  display: flex;
  gap: 16px;
  width: 116px;
  margin: 0 auto;
}

.Copyright {
  text-align: center;
  padding-bottom: 64px;
  padding-top: 34px;
}

/*----------------★SP版 scroll px以下表示★-------------------*/

/* @media (max-width: 367px) {
  #Works_Summary h2 {
    margin-top: 17%;
  }
} */

@media (max-width: 480px) {
  #Works_Summary h2 {
    margin-left: 10px;
  }
}
@media (max-width: 490px) {
  #Works_Summary {
    width: 90%;
  }
  #Coding_Summary {
    width: 90%;
  }

  #Works_Summary img {
    padding-left: 3%;
    width: 20%;
  }

  #Works_Summary h2 {
    margin-top: 10%;
  }

  .Slick_navigation {
    width: 80%;
  }

  .Works_title1 {
    flex-direction: column;
    width: 120px;
    margin: 0 auto;
    align-items: normal;
  }

  .Works_title2 {
    font-size: 40px;
  }
  .Works_title1 p {
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
    padding-left: initial;
    padding-bottom: initial;
  }
}

@media (max-width: 950px) {
  .Slick_navigation {
    width: 80%;
  }
}

@media (min-width: 1430px) {
  .Works_slick0 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .Slick_navigation {
    bottom: 185px;
  }
}
@media (min-width: 1700px) {
  .Works_slick0 {
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .Slick_navigation {
    bottom: 215px;
  }
}

@media (min-width: 2000px) {
  .Slick_navigation {
    width: 65%;
  }
  .Works_slick0 {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media (min-width: 2200px) {
  .Slick_navigation {
    width: 60%;
  }
}

/* 小さい画面用のスタイル */
@media (max-width: 650px) {
  .Works_slick .slick-slide {
    width: 80%;
  }
}

/*--------------ハンバーガーメニュー-------------*/
/*==================================================
　5-2-1 3本線が×に
===================================*/

@media screen and (min-width: 851px) {
  .openbtn {
    display: none;
  }
  .openbtn2 {
    display: none;
  }
  /* -----------------スマホ版をPCの時に非表示---------------------*/
  .sp_nav {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .pc_nav {
    display: none;
  }

  .header_wrap {
    padding: 4px 0 8px 0;
    align-items: center;
    position: relative;
  }
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  /* position: relative;*/

  background: #47665e;
  border-radius: 50%;
  box-shadow: 0px 4px 0px 0px #2d453f;
  right: 24px;
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.35s; /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

@media screen and (max-width: 767px) {
  /*-------------------SP　Footer--------------------*/

  .footer_wrap {
    display: none;
  }

  .footer_logo {
    padding-top: 48px;
  }

  .Copyright {
    width: 80%;
    margin: 0 auto;
  }
}

/*-------------------ハンバーガーメニュー内--------------------*/

/*========= ナビゲーションのためのCSS ===============*/

#sp_nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: -120%;
  left: 0;
  width: 100%;
  height: 100%; /*ナビの高さ*/
  background: #e2dbd3;
  /*動き*/
  transition: all 0.6s;
  background-image: url(../images/hamburger.svg); /* 画像のURLを指定 */
  background-repeat: no-repeat; /* 画像の繰り返しを指定 */
  background-position: center bottom; /* 画像の横・縦の位置を指定*/
}

#aaa {
  width: 100%;
}

/*アクティブクラスがついたら位置を0に*/
#sp_nav.panelactive {
  top: 0;
}

/*ナビゲーションの縦スクロール*/
#sp_nav.panelactive #sp_nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#sp_nav ul {
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*リストのレイアウト設定*/

#sp_nav li {
  list-style: none;
  text-align: center;
}

#sp_nav li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  width: 90px;
  height: 90px;
  border-color: #40322d;
  border-radius: 50%;
  border: solid 1px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
}

#sp_nav li a.Contact_link {
  border: none;
}

.Links {
  font-weight: 500;
  font-size: 18px;
}

.circle1 {
  padding-top: 100px;
}

.circle2 {
  gap: 400px;
}

.c1 {
  max-width: 330px;
  width: 93%;
  padding-top: 8px;
  display: flex;
}
.c2 {
  width: 241px;
  padding-top: 35px;
  display: flex;
}
.circle3 {
  gap: 200px;
}

.Contact_hamburger {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #eb7f4c;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px #943e29;
}

.Links {
  display: flex;
  align-items: center;
  padding-top: 27px;
}

.SNS_sp {
  text-align: center;
  display: flex;
  gap: 16px;
  width: 116px;
  margin: 0 auto;
  top: 16px;
  left: 16px;
  position: absolute;
}

@media screen and (min-width: 851px) {
  .SNS_sp {
    display: none;
  }
}

/*---------------------Slick番号表示--------------------*/
.slick-num {
  position: absolute;
  top: 105%;
  left: 48%;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  color: #40322d;
  /* background-color: #e2dbd3; */
}
